blinker
boto3
email-validator
eventlet
fastapi
gitpython
gunicorn
install
jdcal
lux-api
mysql-connector-python
passlib
phonenumbers
psycopg2-binary
pyarrow
pydeck
pydotplus
pylint
pympler
pysocks
pytest
python-dotenv
python-jose
python-multipart
python-telegram-bot
rich
semver
sendgrid
tabulate
twitterscraper
uvicorn
validators
webauthn